@model IEnumerable<Item>
@{
    ViewData["Title"] = "A4 Listing";
}

<div class="container">
    <div class="row">
        <h2>Basement items</h2>
    </div>
    <div class="row">
        <p>Here is the list of all the available items.</p>
    </div>
    <div style="margin-top:10px" class="itemsList row">
        <table id="itemList" style="width:80%">
            @*id="itemTable" class="table table-bordered table-striped">*@
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ItemDefinition.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                    <th>@Html.DisplayNameFor(model => model.AddedOn)</th>
                    <th>@Html.DisplayNameFor(model => model.ExpireOn)</th>
                    <th>Added by</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@("itemRow"+@item.ItemID)">
                        <td>@Html.DisplayFor(modelItem => item.ItemDefinition.Description),@Html.DisplayFor(modelItem => item.ItemDefinition.Volume) @Html.DisplayFor(modelItem => item.ItemDefinition.UnitOfMeasurement)</td>
                        <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                        <td>@Html.DisplayFor(modelItem => item.AddedOn)</td>
                        <td>@Html.DisplayFor(modelItem => item.ExpireOn)</td>
                        <td>@Html.DisplayFor(modelItem => item.User.Name)</td>
                        <td>@Html.ActionLink("Edit", "Edit", "Home", new { itemID = item.ItemID }) | @Html.ActionLink("Delete", "DeleteItem", "Home", null, new { @class = "deleteAction", itemID = item.ItemID })</td>
                    </tr>
                }
        </table>

        
    </div>
    <div class="row mt-3">
        <button type="button" id="newItemButton" class="btn btn-primary">Add new item</button>
    </div>
    <div class="form-horizontal" style="margin-top:10px; display:none;" id="newItemForm">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="Quantity">Quantity</label>
            <div class="col-md-5">
                <input class="form-control" type="number" name="Quantity" id="Quantity" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="AddedOn">Added On</label>
            <div class="col-md-5">
                <input class="form-control" type="date" name="AddedOn" id="AddedOn" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ExpireOn">ExpireOn</label>
            <div class="col-md-5">
                <input class="form-control" type="date" name="ExpireOn" id="ExpireOn" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="itemDefs">What?</label>
            <div class="col-md-5">
                <select class="custom-select" id="itemDefs"></select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="saveItemButton" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>